_minted*
**/*.aux
**/*.bbl
**/*.log
**/*.blg
**/*.out
**/*.pyg
**/*.fls
**/*.synctex*
main.pdf
*.toc
article.template.pdf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.chl
*.lof
*.lot
exa-ma-d7.1.pdf
*syntec*
*.chl
*.lof
*.lot
.venv
.DS_Store
